@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #4ECDC4;
    --dark-primary: #006C67;
    --secondary: #F8F0FB;
}

body {
    font-family: Vazirmatn FD;
}

/* switching between pause and play button */
.play-button .pause-icon,
.play-button.paused .play-icon {
    display: block;
}

.play-button .play-icon,
.play-button.paused .pause-icon {
    display: none;
}


/* custom audio player */

.audio-timeline {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
}

/* Track: webkit browsers */
.audio-timeline::-webkit-slider-runnable-track {
    height: 12px;
    background: #ccc;
    border-radius: 12px;
}

/* Track: Mozilla Firefox */
.audio-timeline::-moz-range-track {
    height: 12px;
    background: #ccc;
    border-radius: 12px;
}

/* Thumb: webkit */
.audio-timeline::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--primary);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--primary);
}


/* Thumb: Firefox */
.audio-timeline::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background-color: var(--primary);
    border-radius: 50%;
    border: 1px solid var(--primary);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--primary);
}

/* custom audio player end */

/* Splider arrows */
.reel-desc {
    position: relative;
    max-width: 1440px;
    padding: 0 24px;
    margin: 0 auto 24px;
}

.splide .splide__arrows {
    position: absolute;
    top: -32px;
    left: 0px;
    display: flex;
    justify-content: flex-start !important;
    width: 100px;
}