:root {
    --dark-color: rgb(90, 92, 105);
}




.sidebar .nav-item .nav-link span {
    font-size: 0.8rem;
}

.sidebar .nav-item .collapse {
    right: calc(6.5rem + 1.5rem / 2);
}

.sidebar .nav-item .collapse-inner {
    background-color: #4e73df;
}

@media (min-width: 576px) {

    .topbar .dropdown .dropdown-menu {
        width: auto;
        right: auto;
        left: 0;
    }
}

@media (min-width: 768px) {

    .sidebar .nav-item .collapse {
        right: 0;
    }

    .sidebar .nav-item .collapse-inner {
        background-color: rgba(0, 0, 0, 0.15);
    }

    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
        margin: 0;
    }

    .sidebar .nav-item .collapse .collapse-inner,
    .sidebar .nav-item .collapsing .collapse-inner {
        padding: 0;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
        float: left;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
        content: '\f104';
    }

    .sidebar .nav-item .nav-link {
        text-align: right;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
    }

    .sidebar .nav-item .nav-link i {
        margin-right: 0;
        margin-left: 0.25rem;
    }

    .sidebar .nav-item .collapse .collapse-inner .collapse-item,
    .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
        padding: 0.75rem 2.5rem;
    }
}

.sidebar-dark .nav-item .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link i {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #fff;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    margin: 0;
    color: #fff;
    border-radius: 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

#userDropdown {
    height: 2.875rem;
}

#userDropdown:hover,
#userDropdown:active,
#userDropdown:focus {
    background-color: #eaecf4;
}

#userDropdown::after {
    width: auto;
    margin-left: 0;
    margin-right: 0.4em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: #858796;
}

footer.sticky-footer {
    position: sticky;
}

#wrapper #content-wrapper {
    position: relative;
    min-height: 100vh;
}

.rounded-top-left-1 {
    border-top-left-radius: 1rem;
}

.rounded-top-right-1 {
    border-top-right-radius: 1rem;
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: 1rem;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: 1rem;
}

@media only screen and (max-width: 767.5px) {
    .rounded-top-left-1 {
        border-top-left-radius: 0rem;
    }

    .rounded-top-right-1 {
        border-top-right-radius: 0rem;
    }

    .rounded-bottom-left-1 {
        border-bottom-left-radius: 0rem;
    }

    .rounded-bottom-right-1 {
        border-bottom-right-radius: 0rem;
    }
}

#wrapper {
    max-width: 2000px;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    content: '\f104';
    float: left;
    transition: 0.2s ease;
}

.sidebar .nav-item.dropdown .dropdown-toggle[aria-expanded=true]::after,
.topbar .nav-item.dropdown .dropdown-toggle[aria-expanded=true]::after {
    float: left;
    transition: 0.2s ease;
    transform: rotate(-90deg);
}

.custom-table-hover tr:hover {
    background-color: rgb(227, 230, 240);
}

/**
 * Minified by jsDelivr using clean-css v5.3.1.
 * Original file: /npm/simple-datatables@7.1.2/dist/style.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
.datatable-wrapper.no-header .datatable-container {
    border-top: 1px solid #d9d9d9
}

.datatable-wrapper.no-footer .datatable-container {
    border-bottom: 1px solid #d9d9d9
}

.datatable-bottom,
.datatable-top {
    padding: 8px 10px
}

.datatable-bottom>div:first-child,
.datatable-bottom>nav:first-child,
.datatable-top>div:first-child,
.datatable-top>nav:first-child {
    float: left
}

.datatable-bottom>div:last-child,
.datatable-bottom>nav:last-child,
.datatable-top>div:last-child,
.datatable-top>nav:last-child {
    float: right
}

.datatable-selector {
    padding: 6px
}

.datatable-input {
    padding: 6px 12px
}

.datatable-info {
    margin: 7px 0
}

.datatable-pagination ul {
    margin: 0;
    padding-left: 0
}

.datatable-pagination li {
    list-style: none;
    float: left
}

.datatable-pagination li.datatable-hidden {
    visibility: hidden
}

.datatable-pagination a {
    border: 1px solid transparent;
    float: left;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: #333;
    cursor: pointer
}

.datatable-pagination a:hover {
    background-color: #d9d9d9
}

.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover {
    background-color: #d9d9d9;
    cursor: default
}

.datatable-pagination .datatable-disabled a,
.datatable-pagination .datatable-disabled a:focus,
.datatable-pagination .datatable-disabled a:hover,
.datatable-pagination .datatable-ellipsis a {
    pointer-events: none;
    cursor: default
}

.datatable-pagination .datatable-disabled a,
.datatable-pagination .datatable-disabled a:focus,
.datatable-pagination .datatable-disabled a:hover {
    cursor: not-allowed;
    opacity: .4
}

.datatable-pagination .datatable-pagination a {
    font-weight: 700
}

.datatable-table {
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate
}

.datatable-table>tbody>tr>td,
.datatable-table>tbody>tr>th,
.datatable-table>tfoot>tr>td,
.datatable-table>tfoot>tr>th,
.datatable-table>thead>tr>td,
.datatable-table>thead>tr>th {
    vertical-align: top;
    padding: 8px 10px
}


.datatable-table>thead>tr>th {
    vertical-align: bottom;
    text-align: right;
    border-top: 1px solid rgb(108, 110, 126);
    border-bottom: 1px solid rgb(108, 110, 126);
    border-left: 1px solid rgb(108, 110, 126);
    border-right: 1px solid rgb(108, 110, 126);
    color: white;
}



.datatable-table>tfoot>tr>th {
    vertical-align: bottom;
    text-align: left;
    border-top: 1px solid #d9d9d9
}

.datatable-table th {
    vertical-align: bottom;
    text-align: left
}

.datatable-table th a {
    text-decoration: none !important;
    color: inherit
}

.datatable-table a:hover {
    text-decoration: none !important;
}

.datatable-filter,
.datatable-sorter {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%
}

.datatable-sorter::after,
.datatable-sorter::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: .2
}

.datatable-sorter::before {
    border-top: 4px solid #000;
    bottom: 0
}

.datatable-sorter::after {
    border-bottom: 4px solid #000;
    border-top: 4px solid transparent;
    top: 0
}

.datatable-ascending .datatable-filter::after,
.datatable-ascending .datatable-sorter::after,
.datatable-descending .datatable-filter::before,
.datatable-descending .datatable-sorter::before {
    opacity: .6
}

.datatable-filter::before {
    content: "";
    position: absolute;
    right: 4px;
    opacity: .2;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-radius: 50%;
    border-top: 10px solid #000;
    top: 25%
}

.datatable-filter-active .datatable-filter::before {
    opacity: .6
}

.datatable-empty {
    text-align: center
}

.datatable-bottom::after,
.datatable-top::after {
    clear: both;
    content: " ";
    display: table
}

table.datatable-table:focus tr.datatable-cursor>td:first-child {
    border-left: 3px #00f solid
}

table.datatable-table:focus {
    outline: solid 1px black;
    outline-offset: -1px
}

.datatable-table thead {
    background-color: rgb(90, 92, 105);
}

.page-item:last-child .page-link {
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.page-item:first-child .page-link {
    margin-left: 2px;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}

.datatable-table {
    min-width: 700px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

.page-link:hover {
    z-index: 2;
    color: var(--dark-color);
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #bcbfcc;
}

#accordionSidebar li {
    cursor: pointer;
}

button[type="submit"] {
    width: fit-content;
}

#qiraat {
    max-height: 140px;
}